{% load static %}
<div class="pagina-index">
    <div style="width: 500px;margin-left: 500px;">
        {% include 'partials/_alerta.html' %}
    </div>

    <header class="cabecalho">
        <img src="{% static 'assets/logo/claquete.png' %}" alt="Logo do cinemateca" />
        <main class="principal">
            <section class="menu-lateral">
                <nav class="menu-lateral__navegacao">
                    <a href="{% url 'index' %}"><img src="{% static 'assets/logo/pagina-inicial.png' %}"> Home</a>
                    <a href="{% url 'nova_imagem' %}"><img src="{% static 'assets/logo/nova_imagem.png' %}" style="margin-right: 10px;">Nova imagem</a>
                    <a href="{% url 'cadastro' %}"><img src="{% static 'assets/logo/registro.png' %}" style="margin-right: 10px;">Cadastro</a>
                    <a href="{% url 'login' %}"><img src="{% static 'assets/logo/login.png' %}" style="margin-right: 10px;">Login</a>
                    <a href="{% url 'logout' %}"><img src="{% static 'assets/logo/logout.png' %}" style="margin-right: 10px;">Logout</a>
                    
                </nav>
            </section>

        
        
    </header>
    <div class="cabecalho__busca">
        <div class="busca__fundo">
            <form action="{% url 'buscar' %}">
                <input class="busca__input" type="text" name="buscar" placeholder="O que você procura?">
                <button type="submit" style="padding: 0cap; margin-left: 50px;border: 0cap;">
                    <img style="float: left;" class="busca__icone" src="{% static 'assets/logo/procurar.png' %}">
                </button>
            </form>
        </div>
    </div>
    