{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
            <section class="conteudo">
                <section class="banner">
                    <h1 class="banner__titulo"> Cinemateca</h1>
                </section>
                <section class="tags">
                    <p class="tags__titulo"></p>
                    <ul class="tags__lista">
                        <li class="tags__tag"><a href="{% url 'filtro' 'Filmes' %}" class="btn" style="color: #ffffff;" >Filmes</a></li>
                        <li class="tags__tag"><a href="{% url 'filtro' 'Series' %}" class="btn" style="color: #ffffff;" >Series</a></li>
                        <li class="tags__tag"><a href="{% url 'filtro' 'Animes' %}" class="btn" style="color: #ffffff;" >Animes</a></li>
                    </ul>
                </section>
                <section class="galeria">
                    <div class="cards">
                        <h2 class="cards__titulo">Navegue pela galeria</h2>
                        <ul class="cards__lista">
                            {% if cards %}
                            {% for fotografia in cards %}
                            <li class="card">
                                <a href="{% url 'imagem' fotografia.id %}">
                                {% if fotografia.foto == "" or fotografia.foto == null %}
                                    <img class="card__imagem" src="{% static 'assets/imagens/galeria/not-found.png' %}" alt="foto">
                                {% else %}    
                                <img class="card__imagem" src="{{ fotografia.foto}}" alt="foto">
                                {% endif %} 
                                </a>
                                <span class="card__tag">Filmes e Series</span>
                                <div class="card__info">
                                    <p class="card__titulo" >{{fotografia.nome}}</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">{{fotografia.legenda}}</p>
                                        
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            {% else %}
                            <div class="imagem__texto"  style="background-color:#f8d7da;; border: solid 2px red; width: 250px; height: 50px; border-radius: 8px;">
                                <p style=" color:#842029; text-align: center; margin-top: 15px;">Fotografias não encotradas</p>
                            </div>
                            {% endif %}
                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}